<h3>Playlist <span ng-bind="playlist.name"></span></h3>
<div class="row">
  <div class="col-lg-6">
    <h3>Canciones</h3>

    <div class="btn-container">
			<a ng-click="playlist.play()" class="btn-default"> <i class="icon-add"></i> Reproducir</a>
		</div>
    <div class="btn-container">
			<a ng-click="queuePlaylist(playlist)" class="btn-default"> <i class="icon-add"></i> Agregar</a>
		</div>
    <ul class="songs_result_list">
        <li ng-repeat="track in playlistTracks" ng-click="queueTrack(track)">
          <span class="duration" ng-bind="track.duration_ms | msToSec"></span>
          <i class="icon-add"></i>
          <span>{{ track.name }} - {{ track.artists[0].name }}</span>
        </li>
    </ul>
  </div>
</div>