@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?k41w1f');
	src:url('../fonts/icomoon.eot?#iefixk41w1f') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?k41w1f') format('truetype'),
		url('../fonts/icomoon.woff?k41w1f') format('woff'),
		url('../fonts/icomoon.svg?k41w1f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
	content: "\e600";
}
.icon-done:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e602";
}
.icon-pause:before {
	content: "\e603";
}
.icon-play-arrow:before {
	content: "\e604";
}
.icon-replay:before {
	content: "\e605";
}
.icon-skip-next:before {
	content: "\e606";
}
.icon-skip-previous:before {
	content: "\e607";
}
.icon-volume-up:before {
	content: "\e608";
}
.icon-add:before {
	content: "\e609";
}
.icon-clear:before {
	content: "\e60a";
}
.icon-audiotrack:before {
	content: "\e60b";
}
.icon-flash-on:before {
	content: "\e60c";
}
.icon-navigate-before:before {
	content: "\e60d";
}
.icon-navigate-next:before {
	content: "\e60e";
}
.icon-sync:before {
	content: "\e60f";
}
