@font-face {
  font-family: "sen";
  src: url("../fonts/sen-regular-webfont.eot");
  src: url("../fonts/sen-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sen-regular-webfont.woff") format("woff"), url("../fonts/sen-regular-webfont.ttf") format("truetype"), url("../fonts/sen-regular-webfont.svg#sen") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "sen";
  src: url("../fonts/sen-bold-webfont.eot");
  src: url("../fonts/sen-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sen-bold-webfont.woff") format("woff"), url("../fonts/sen-bold-webfont.ttf") format("truetype"), url("../fonts/sen-bold-webfont.svg#sen") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "sen";
  src: url("../fonts/sen-extrabold-webfont.eot");
  src: url("../fonts/sen-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sen-extrabold-webfont.woff") format("woff"), url("../fonts/sen-extrabold-webfont.ttf") format("truetype"), url("../fonts/sen-extrabold-webfont.svg#sen") format("svg");
  font-weight: 900;
  font-style: normal;
}
a,
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'sen', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #262f39;
  background: #e8dfdf;
}
#header {
  padding: 10px;
  background: #ca2a2a;
  height: 7vh;
}
.dark_bg {
  background: #262f39;
  color: #e8dfdf;
}
#search {
  position: relative;
}
#search input {
  margin-top: 5px;
  width: 370px;
  line-height: 2.2em;
  border-radius: 25px;
  border: none;
  padding: 0 15px;
}
#search .search-icon {
  position: absolute;
  top: 13px;
  right: 12px;
}
.controls {
  float: left;
}
.controls.main i {
  font-size: 30px;
  color: #e8dfdf;
}
.controls.main .circle {
  display: inline-block;
  background: #262f39;
  border-radius: 50px;
  padding: 5px;
}
.controls.volume {
  float: right;
}
.controls.volume label {
  float: left;
}
.controls.volume label i {
  font-size: 25px;
  color: #e8dfdf;
}
/* Playlist Column */
.playlist {
  width: 250px;
  height: 93vh;
  float: left;
  padding: 10px;
}
/* Queue Column */
.play-qeue {
  width: 300px;
  height: 93vh;
  float: right;
  padding: 0;
}
.play-qeue .playing-now {
  width: 100%;
  position: relative;
}
.play-qeue .playing-now img {
  max-width: 100%;
}
.play-qeue .playing-now .info {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5px;
}
.play-qeue p {
  margin: 0;
  padding: 0 10px;
}
.play-qeue .song {
  font-family: 'sen', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.play-qeue .duration {
  float: right;
}
.play-qeue .qeue ul li {
  border-bottom: 1px solid #1c222a;
  padding: 5px 0;
}
/* Search Column */
.search-result {
  margin: 0 300px 0 250px;
  padding: 15px;
}
.artist_result_tiles,
.album_result_tiles {
  zoom: 1;
}
.artist_result_tiles:before,
.artist_result_tiles:after,
.album_result_tiles:before,
.album_result_tiles:after {
  content: "";
  display: table;
}
.artist_result_tiles:after,
.album_result_tiles:after {
  clear: both;
}
.artist_result_tiles .tile,
.album_result_tiles .tile {
  max-width: 150px;
  float: left;
  margin: 0 10px 10px 0;
}
.artist_result_tiles .tile img,
.album_result_tiles .tile img {
  max-width: 100%;
}
.songs_result_list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.songs_result_list li {
  padding: 5px;
  font-size: 16px;
}
.songs_result_list li i {
  font-size: 25px;
  vertical-align: -5px;
  margin-right: 5px;
}
.songs_result_list li .duration {
  float: right;
}
.songs_result_list li:hover {
  background: #7188a0;
  color: #e8dfdf;
}
