@font-face {
  font-family: "sen";
  src: url("../fonts/sen-regular-webfont.eot");
  src: url("../fonts/sen-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sen-regular-webfont.woff") format("woff"), url("../fonts/sen-regular-webfont.ttf") format("truetype"), url("../fonts/sen-regular-webfont.svg#sen") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "sen";
  src: url("../fonts/sen-bold-webfont.eot");
  src: url("../fonts/sen-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sen-bold-webfont.woff") format("woff"), url("../fonts/sen-bold-webfont.ttf") format("truetype"), url("../fonts/sen-bold-webfont.svg#sen") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "sen";
  src: url("../fonts/sen-extrabold-webfont.eot");
  src: url("../fonts/sen-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sen-extrabold-webfont.woff") format("woff"), url("../fonts/sen-extrabold-webfont.ttf") format("truetype"), url("../fonts/sen-extrabold-webfont.svg#sen") format("svg");
  font-weight: 900;
  font-style: normal;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes spin{ from {-webkit-transform:rotate(0deg);} to {-webkit-transform:rotate(360deg);}}
@-moz-keyframes spin{ from {-moz-transform:rotate(0deg);} to {-moz-transform:rotate(360deg);}}
@-o-keyframes spin{ from {-o-transform:rotate(0deg);} to {-o-transform:rotate(360deg);}}
@keyframes spin{ from {-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);} to {-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);};
}
a.btn-default,
.btn-default {
  color: #fff;
  display: inline-block;
  background: #ccc;
  padding: 10px 25px;
  text-decoration: none;
  background: #5a85ca;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.btn-default:hover,
.btn-default:hover {
  background: #6d93d0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a.btn-default:active,
.btn-default:active {
  background: #94b0dd;
}
a.btn-primary,
.btn-primary {
  color: #fff;
  display: inline-block;
  background: #ccc;
  padding: 10px 25px;
  text-decoration: none;
  background: #ca2a2a;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.btn-primary:hover,
.btn-primary:hover {
  background: #d63838;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a.btn-primary:active,
.btn-primary:active {
  background: #de6262;
}
.btn-container {
  margin: 5px 0;
}
.btn-container.centered {
  text-align: center;
}
img {
  max-width: 100%;
}
a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  outline: none;
}
*:focus {
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'sen', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #262f39;
  background: #e8dfdf;
}
#header {
  width: 100%;
  padding: 10px;
  background: #ca2a2a;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.dark_bg {
  background: #262f39;
  color: #e8dfdf;
}
#search {
  width: 100%;
}
#search form {
  position: relative;
}
#search input {
  border: none;
  width: 100% !important;
  padding: 1px 15px 0 20px !important;
  height: 35px;
  font-size: 16px;
  border-radius: 26px;
  z-index: 101;
}
#search .loading-icon,
#search .search-icon {
  position: absolute;
  top: 7px;
  right: 10px;
  z-index: 102;
  font-size: 20px;
}
#search .loading-icon {
  opacity: 0;
}
#search .loading-icon i {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
#search.loading .loading-icon {
  opacity: 1;
}
#search.loading .search-icon {
  opacity: 0;
}
#search .twitter-typeahead {
  width: 100%;
}
#search .tt-menu.tt-open {
  width: 100%;
  background: transparent;
  padding: 0px;
  border-radius: 10px;
  margin-top: -15px;
}
#search .tt-dataset {
  background: white;
  border-radius: 0 0 16px 16px;
  padding-top: 8px;
  /* used to mix the whites of the results and the input */
}
#search .tt-suggestion.tt-selectable {
  cursor: pointer;
  padding: 4px 10px;
}
#search .tt-suggestion.tt-selectable:hover,
#search .tt-suggestion.tt-selectable.tt-cursor {
  color: #ca2a2a;
}
.controls.main {
  float: left;
}
.controls.main i {
  font-size: 30px;
  color: #e8dfdf;
}
.controls.main .circle {
  display: inline-block;
  background: #262f39;
  border-radius: 50px;
  padding: 5px;
}
.controls.main .circle:hover {
  background: #3a4858;
}
.controls.track {
  margin: 0 65px 0 110px;
  padding: 18px 10px 0 10px;
}
.controls.track .progress {
  height: 5px;
}
.controls.track .progress .progress-bar {
  background-color: #262f39;
  transition: none;
}
.controls.volume {
  float: right;
}
.controls.volume label {
  float: left;
}
.controls.volume label i {
  font-size: 25px;
  color: #e8dfdf;
}
/* Playlist Column */
.playlist {
  width: 250px;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  float: left;
  padding: 10px;
}
@media only screen and (max-width : 992px) {
  .playlist {
    display: none;
  }
}
/* Queue Column */
.play-queue {
  width: 300px;
  height: calc(100vh - 60px);
  float: right;
  padding: 0;
  position: fixed;
  top: 60px;
  right: 0;
}
.play-queue .playing-now {
  background: url('/img/non-image.jpg') no-repeat;
  width: 100%;
  height: 305px;
  position: relative;
}
.play-queue .playing-now .old-cover,
.play-queue .playing-now .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.play-queue .playing-now .old-cover {
  opacity: 0;
}
.play-queue .playing-now .old-cover[class*="old-track-remove"] {
  opacity: 1;
}
.play-queue .playing-now .cover {
  opacity: 1;
}
.play-queue .playing-now .cover[class*="new-track-add"] {
  opacity: 0;
}
.play-queue .playing-now .info {
  width: 100%;
  background: rgba(38, 47, 57, 0.8);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,000000+100&amp;0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #262f39 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #262f39));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #262f39 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #262f39 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #262f39 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #262f39 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  padding: 35px 0 5px;
  position: absolute;
  bottom: 5px;
  left: 0;
  margin: 0;
  text-shadow: 0px 0px 6px #000;
}
.play-queue .playing-now .progress_cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.play-queue .playing-now .progress {
  height: 5px;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.play-queue .playing-now .progress .progress-bar {
  background: #ca2a2a;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.play-queue p {
  margin: 0;
  padding: 0 10px;
}
.play-queue .song {
  font-family: 'sen', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.play-queue a.artist {
  padding: 0 10px;
  color: #668cb7;
  cursor: pointer;
}
.play-queue a.artist:hover {
  color: #89a6c7;
}
.play-queue .duration {
  float: right;
}
.play-queue .queue {
  background: #3a4858;
}
.play-queue .queue .ul,
.play-queue .queue ul {
  list-style: none;
  max-height: calc(100vh - 365px);
  overflow-y: scroll;
  position: relative;
}
.play-queue .queue .ul::-webkit-scrollbar,
.play-queue .queue ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.play-queue .queue .ul .li,
.play-queue .queue ul .li,
.play-queue .queue .ul li,
.play-queue .queue ul li {
  border-bottom: 1px solid #1c222a;
  perspective: 1000px;
  position: relative;
}
.play-queue .queue .ul .li.ng-leave.ng-leave-active,
.play-queue .queue ul .li.ng-leave.ng-leave-active,
.play-queue .queue .ul li.ng-leave.ng-leave-active,
.play-queue .queue ul li.ng-leave.ng-leave-active,
.play-queue .queue .ul .li.ng-enter,
.play-queue .queue ul .li.ng-enter,
.play-queue .queue .ul li.ng-enter,
.play-queue .queue ul li.ng-enter {
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  right: -100%;
}
.play-queue .queue .ul .li.ng-enter-stagger,
.play-queue .queue ul .li.ng-enter-stagger,
.play-queue .queue .ul li.ng-enter-stagger,
.play-queue .queue ul li.ng-enter-stagger,
.play-queue .queue .ul .li.ng-leave-stagger,
.play-queue .queue ul .li.ng-leave-stagger,
.play-queue .queue .ul li.ng-leave-stagger,
.play-queue .queue ul li.ng-leave-stagger {
  transition-delay: 0.1s;
  transition-duration: 0s;
}
.play-queue .queue .ul .li.ng-leave,
.play-queue .queue ul .li.ng-leave,
.play-queue .queue .ul li.ng-leave,
.play-queue .queue ul li.ng-leave,
.play-queue .queue .ul .li.ng-enter.ng-enter-active,
.play-queue .queue ul .li.ng-enter.ng-enter-active,
.play-queue .queue .ul li.ng-enter.ng-enter-active,
.play-queue .queue ul li.ng-enter.ng-enter-active {
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  right: 0%;
}
.play-queue .queue .ul .li a.remove-track,
.play-queue .queue ul .li a.remove-track,
.play-queue .queue .ul li a.remove-track,
.play-queue .queue ul li a.remove-track {
  position: absolute;
  left: 5px;
  font-size: 25px;
  height: 25px;
  line-height: 25px;
  top: calc(50% - 12.5px);
  width: 0;
  opacity: 0;
  -webkit-transition: width 0.5s 0.3s, opacity 0.5s;
  -moz-transition: width 0.5s 0.3s, opacity 0.5s;
  -o-transition: width 0.5s 0.3s, opacity 0.5s;
  transition: width 0.5s 0.3s, opacity 0.5s;
}
.play-queue .queue .ul .li.active .track-info,
.play-queue .queue ul .li.active .track-info,
.play-queue .queue .ul li.active .track-info,
.play-queue .queue ul li.active .track-info {
  background: #3a4858;
}
.play-queue .queue .ul .li .track-info,
.play-queue .queue ul .li .track-info,
.play-queue .queue .ul li .track-info,
.play-queue .queue ul li .track-info {
  background: #262f39;
  transform-origin: 100% 50%;
  transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 0.5s 0.3s, background-image 0.5s 0.3s;
  -moz-transition: -moz-transform 0.5s 0.3s, background-image 0.5s 0.3s;
  -o-transition: -o-transform 0.5s 0.3s, background-image 0.5s 0.3s;
  transition: -webkit-transform 0.5s 0.3s,-moz-transform 0.5s 0.3s,-o-transform 0.5s 0.3s,transform 0.5s 0.3s, background-image 0.5s 0.3s;
  padding: 5px 0;
}
.play-queue .queue .ul .li:hover a,
.play-queue .queue ul .li:hover a,
.play-queue .queue .ul li:hover a,
.play-queue .queue ul li:hover a {
  width: 35px;
  opacity: 1;
  -webkit-transition: width 0.5s 0.7s, opacity 0.5s 0.7s;
  -moz-transition: width 0.5s 0.7s, opacity 0.5s 0.7s;
  -o-transition: width 0.5s 0.7s, opacity 0.5s 0.7s;
  transition: width 0.5s 0.7s, opacity 0.5s 0.7s;
}
.play-queue .queue .ul .li:hover .track-info,
.play-queue .queue ul .li:hover .track-info,
.play-queue .queue .ul li:hover .track-info,
.play-queue .queue ul li:hover .track-info {
  background: #1c222a;
  transform: rotateY(-22deg);
  -webkit-transition: -webkit-transform 0.5s 0.7s, background-image 0.5s 0.7s;
  -moz-transition: -moz-transform 0.5s 0.7s, background-image 0.5s 0.7s;
  -o-transition: -o-transform 0.5s 0.7s, background-image 0.5s 0.7s;
  transition: -webkit-transform 0.5s 0.7s,-moz-transform 0.5s 0.7s,-o-transform 0.5s 0.7s,transform 0.5s 0.7s, background-image 0.5s 0.7s;
}
.as-sortable-dragging {
  background: #262f39;
  color: #e8dfdf;
  box-shadow: 0px 0px 6px 0px #000;
}
.as-sortable-dragging p {
  margin: 0;
  padding: 0 10px;
}
.as-sortable-dragging a.remove-track {
  display: none;
}
.as-sortable-dragging .song {
  font-family: 'sen', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.as-sortable-dragging a.artist {
  padding: 0 10px;
  color: #668cb7;
  cursor: pointer;
}
.as-sortable-dragging a.artist:hover {
  color: #89a6c7;
}
.as-sortable-dragging .duration {
  float: right;
}
.as-sortable-dragging .track-info {
  background: #262f39;
  padding: 5px 0;
}
/* Use this on the hovered element */
/* Use this on the normal state */
/* Use this on the hovered element */
/* Use this on the normal state */
/* Search Column */
.main_content {
  background: url('/img/main-bg.png') 50% 50% no-repeat;
  height: 100vh;
  overflow-y: scroll;
}
.main-wrap,
.search-result {
  margin: 60px 300px 0 250px;
  padding: 15px;
}
@media only screen and (max-width : 992px) {
  .main-wrap,
  .search-result {
    margin-left: 0;
  }
}
.artist_result_tiles,
.album_result_tiles {
  zoom: 1;
}
.artist_result_tiles:before,
.artist_result_tiles:after,
.album_result_tiles:before,
.album_result_tiles:after {
  content: "";
  display: table;
}
.artist_result_tiles:after,
.album_result_tiles:after {
  clear: both;
}
.artist_result_tiles .tile,
.album_result_tiles .tile {
  max-width: 150px;
  max-height: 200px;
  float: left;
  margin: 0 10px 10px 0;
  cursor: pointer;
}
.artist_result_tiles .tile .cover,
.album_result_tiles .tile .cover {
  width: 150px;
  height: 150px;
  background-color: #262f39;
  background-size: cover;
}
.artist_result_tiles .tile img,
.album_result_tiles .tile img {
  max-width: 100%;
}
.artist_result_tiles .tile p,
.album_result_tiles .tile p {
  height: 43px;
  overflow: hidden;
  margin: 5px 0;
}
.songs_result_list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.songs_result_list li {
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}
.songs_result_list li i {
  font-size: 25px;
  vertical-align: -5px;
  margin-right: 5px;
}
.songs_result_list li .duration {
  float: right;
}
.songs_result_list li:hover {
  background: #7188a0;
  color: #e8dfdf;
}
hr {
  border-top-color: #c8b2b2;
}
table.tracks {
  margin-top: 25px;
  width: 100%;
}
table.tracks tr:hover {
  background: #90a1b5;
  color: #fff;
}
table.tracks tr:active {
  background: #cdd5de;
}
table.tracks td {
  padding: 5px 10px;
}
table.tracks td.album-name {
  width: 30%;
}
table.tracks td.album-name span {
  max-width: 250px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=maps/style.css.map */