<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Spotdj</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/icons.css">
  <link rel="stylesheet" href="/js/lib/ng-sortable/ng-sortable.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {  display: none !important;  }
  </style>
</head>
<body class="app-widget" ng-app="PlayerApp">
<span ng-controller="InitController"></span>

<div ng-controller="AppController" ng-init="initAutocomplete()">
  <div id="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div id="search">
            <form action="">
              <input type="search" name="main-search" placeholder="Search for Song, Album or Artist">
              <span class="search-icon"><i class="icon-search"></i></span>
              <span class="loading-icon"><i class="icon-sync"></i></span>
            </form>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="player">
            <div class="controls main">
              <a href="" class="prev"><i data-player-prev class="icon-skip-previous"></i></a>
              <a pause-btn-el href="" class="pause"><i data-player-pause class="icon-pause circle"></i></a>
              <a play-btn-el href="" class="play"><i data-player-play class="icon-play-arrow circle"></i></a>
              <a href="" class="next"><i data-player-next class="icon-skip-next"></i></a>
            </div>
            <!-- <div class="controls volume">
              <div class="form-group">
                  <label for="volume"><i class="icon-volume-up"></i></label>
                </div>
            </div> -->
            <div class="controls track">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': currentTrack.timePlayedPercentage+'%' }"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="playlist dark_bg">
    <h3>Playlist</h3>
    <a href="" ng-click="saveQueueToPlaylist()">Guardar en Playlist</a>
    <div class="playlist-wrap">
      <ul>
        <li ng-repeat="playlist in playlists">
          <a ng-href="#/playlist/{{ playlist._id }}">
            {{ playlist.name }}({{ playlist.tracks.length }})
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="play-queue dark_bg">

    <div ng-controller="PlayingNowController" class="playing-now">

      <img class="{{ currentTrack.id }}-new-track cover" ng-src="{{ currentTrack.album.images[1].url }}" />
      <img class="{{ oldTrack.id }}-old-track old-cover" ng-src="{{ oldTrack.album.images[1].url }}" />

      <div class="info">
        <p class="song" ng-bind="currentTrack.name"></p>
        <p class="artist" ng-bind="currentTrack.artists[0].name"></p>
      </div>

      <div class="progress_cont">
        <div class="progress">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': currentTrack.timePlayedPercentage+'%' }"></div>
        </div>
      </div>

    </div>

    <div class="queue" ng-controller="QueueController">
      <ul ng-cloak as-sortable="dragQueueListeners" ng-model="tracks">
        <li ng-repeat="track in tracks track by track.uri"
            as-sortable-item
            ng-class="{
                  'active': track.uri == currentTrack.uri
                }"
            >
          <a href="#" class="remove-track" ng-click="removeTrack(track)"><i class="icon-clear"></i></a>
          <div class="track-info" as-sortable-item-handle>
            <p class="duration" ng-bind="track.duration_ms | msToSec"></p>
            <p class="song" ng-click="queueChangeTo($index)">
              <i class="icon-play-arrow" ng-show="track.uri == currentTrack.uri"></i>
              <span ng-bind="track.name"></span>
            </p>
            <a ng-href="#/artist/{{ track.artists[0].id }}" class="artist" ng-bind="track.artists[0].name"></a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="main_content">
    <div class="main-wrap" ng-view></div>
  </div>

</div>


<!-- jQuery first, then Bootstrap JS. -->
<script src="/js/lib/jquery-2.1.4.min.js"></script>
<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/angular-animate.min.js"></script>
<script src="/js/lib/angular-route.min.js"></script>
<script src="/js/lib/ng-sortable/ng-sortable.js"></script>

<script src="/js/controllers/app.js"></script>
<script src="/js/controllers/services.js"></script>
<script src="/js/controllers/controllers.js"></script>

<script src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/lib/typeahead.js/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="/js/lib/nunjucks.min.js"></script>
<script type="text/javascript" src="/js/lib/page.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>