<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
		<link href="/css/player.css" rel="stylesheet">

    <script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/lib/nunjucks.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/template" id="player-template">
		<div class="song-bg" style="background-image: url( {{ track.album.images[0].url }} )"></div>

		<div class="song-data">
			<div class="title">{{ track.name }}</div>
			<div class="artist">{{ track.artists[0].name }}</div>
			<div class="time"><span></span> - {{ track.duration_ms | msToSec }}</div>			
		</div>
		<div class="progress">
  			<div class="color"></div>
  		</div>		
	</script>
	<script type="text/javascript" src="/js/player-only.js"></script>

  </head>
  <body>
  		
   	<div class="player-widget">

   	</div>
  </body>
</html>