<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="app-widget">
    <div id="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div id="search" class="pull-right">
              <form action="">
                <input type="search" name="main-search" placeholder="Search for Song, Album or Artist">
                <span class="search-icon"><i class="icon-search"></i></span>
              </form>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="player">
              <div class="controls main">
                <a href="" class="prev"><i data-player-prev class="icon-skip-previous"></i></a>
                <a pause-btn-el href="" class="pause"><i data-player-pause class="icon-pause circle"></i></a>
                <a play-btn-el href="" class="play"><i data-player-play class="icon-play-arrow circle"></i></a>
                <a href="" class="next"><i data-player-next class="icon-skip-next"></i></a>
              </div>
              <!-- <div class="controls volume">
                <div class="form-group">
                    <label for="volume"><i class="icon-volume-up"></i></label>
                  </div>
              </div> -->
              <div class="controls track">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0;" played-time-el ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="playlist dark_bg">
        <h3>playlists</h3>
        <div playlists-el class="plalists-wrap">
        </div>
      </div>
      <div class="play-qeue dark_bg">
        <div playing-now-el class="playing-now"> </div>
        <div player-queue-el class="qeue"> </div>
      </div>

    <div class="main_content">
      <div album-results-el class="search-result">
      </div>

      <div artist-results-el class="search-result">
      </div>

      <div search-results-el class="search-result">
      </div>
    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="/js/lib/jquery-2.1.4.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/lib/nunjucks.min.js"></script>
    <script type="text/javascript" src="/js/lib/page.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>