<h3>{{ artist.name }}</h3>
<!-- <img src="{{ artist.images[0].url }}" alt=""> -->
{% for album in albums|sort(attribute='release_date') %}
    <div class="row">
        <div class="col-sm-4">
            <h4>{{ album.name }} {{ album.release_date | albumDate }}</h4>
            <img src="{{ album.images[1].url }}" />
            <div class="btn-container">
                <a data-album-uri="{{ album.uri }}" class="btn-default">ADD ALL</a>
            </div>
        </div>
        <div class="col-sm-8">
            <table class=" table tracks">
                {% for track in album.tracks.items %}
                    <tr data-track-uri="{{ track.uri }}" data-track-id="{{ track.id }}">
                        <td class="add"><i class="icon-add"></i></td>
                        <td class="track-name">{{ track.name }} {% if track.explicit %}<span>con puteada!</span>{% endif %}</td>
                        <td class="hidden-sm album-name"><span>{{ album.name }}</span></td>
                        <!--
                            <td>{{ album.artists[0].name }}</td>
                        -->
                        <td>{{ track.duration_ms | msToSec }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
    <!-- <div class="tracks">
        {% for track in album.tracks.items %}
            <div data-track-uri="{{ track.uri }}" data-track-id="{{ track.id }}">
                {{ track.name }} - {{ album.name }} - {{ album.artists[0].name }} - {{ track.duration_ms | msToSec }}
            </div>
        {% endfor %}
    </div> -->
{% endfor %}
