@import (reference) "lesshat.less";
@import "font.less";
@import "variables.less";

a, a:hover{
  text-decoration: none;
}
.regular(){
  font-family: 'sen', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  .regular();
  font-size: 14px;
  color: @dark;
  background: @light;
}
#header{
  padding: 10px;
  background: @primary;
}
.dark_bg{
  background: @dark;
  color:@light;
}
#search{
  position: relative;
  input{
    margin-top: 5px;
    width: 370px;
    line-height: 2.2em;
    border-radius: 25px;
    border: none;
    padding: 0 15px;
  }
  .search-icon{
    position: absolute;
    top: 13px;
    right: 12px;
  }
}
.controls{
  float: left;
  &.main{
    i{
      font-size: 30px;
      color:@light;

    }
    .circle{
      display: inline-block;
      background: @dark;
      border-radius: 50px;
      padding: 5px;
    }
  }
  &.volume label{
    float: left;
    i{
      font-size: 25px;
      color:@light;
    }
  }
}
/* playlist column */
.playlist{
  padding: 10px;
}
/* queue column */
.play-qeue{
  padding: 0;
  .playing-now{
    background: url('https://unsplash.it/350?image=33') no-repeat;
    width:100%;
    min-height:200px;
  }
}