@import (reference) "lesshat.less";
@import "font.less";
@import "variables.less";

.clearfix(){   zoom: 1;  &:before, &:after {     content: "";     display: table;   }   &:after {     clear:both;   } }
a, a:hover{
  text-decoration: none;
}
.regular(){
  font-family: 'sen', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.bold(){
  font-family: 'sen', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
ul{
  padding: 0;
  margin: 0;
}
body {
  .regular();
  font-size: 14px;
  color: @dark;
  background: @light;
}
#header{
  width: 100%;
  padding: 10px;
  background: @primary;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index:1;
}
.dark_bg{
  background: @dark;
  color:@light;
}
#search{
  position: relative;
  input{
    margin-top: 5px;
    width: 370px;
    line-height: 2.2em;
    border-radius: 25px;
    border: none;
    padding: 0 15px;
  }
  .search-icon{
    position: absolute;
    top: 13px;
    right: 12px;
  }
}
.controls{
  float: left;
  &.main{
    i{
      font-size: 30px;
      color:@light;

    }
    .circle{
      display: inline-block;
      background: @dark;
      border-radius: 50px;
      padding: 5px;
    }
  }
  &.volume{
    float: right;
    label{
      float: left;
      i{
        font-size: 25px;
        color:@light;
      }
    }
  }
}
/* Playlist Column */
.playlist{
  width:250px;
  height: ~'calc(100vh - 60px)';
  position: fixed;
  top: 60px;
  left: 0;
  float: left;
  padding: 10px;
}

/* Queue Column */
.play-qeue{
  width:300px;
  height: ~'calc(100vh - 60px)';
  float: right;
  padding: 0;
  position: fixed;
  top: 60px;
  right: 0;
  .playing-now{
    width:100%;
    position: relative;
    img{
      max-width: 100%;
    }
    .info{
      position: absolute;
      bottom:0;
      left: 0;
      margin: 5px;
    }
  }
  p{
    margin: 0;
    padding: 0 10px;
  }
  .song{
    .bold();
  }
  .duration{
    float: right;
  }
  .qeue{
    ul{
      li{
        border-bottom: 1px solid darken(@dark, 5%);
        padding: 5px 0;
      }
    }
  }
}
/* Search Column */

.search-result{
  margin: 0 300px 0 250px;
  padding: 15px;
}
.artist_result_tiles{
  .clearfix();
  .tile{
    max-width: 150px;
    float: left;
    margin: 0 10px 10px 0;
    img{
      max-width: 100%;
    }
  }
}
.album_result_tiles{
  &:extend(.artist_result_tiles all);
}
.songs_result_list{
  padding: 0;
  margin: 0;
  list-style:none;
  li{
    padding: 5px;
    font-size: 16px;
    i{
      font-size: 25px;
      vertical-align: -5px;
      margin-right: 5px;
    }
    .duration{
      float: right;
    }
    &:hover{
      background: lighten(@dark, 35%);
      color:@light;
    }
  }
}